# Neon PostgreSQL 数据库连接字符串
DATABASE_URL=postgresql://username:password@hostname:5432/database_name

# 易支付配置
YI_PAY_PID=2134
YI_PAY_KEY=t6rrhSHssQohmRbsPsoPgS66GH60D60O
YI_PAY_GATEWAY=https://www.kuaizhifu.cn/submit.php
YI_PAY_NOTIFY_URL=https://your-vercel-domain.vercel.app/api/payment/notify
YI_PAY_RETURN_URL=https://your-vercel-domain.vercel.app/api/payment/return
