$brand: #09ba07;
$light-brand: #0b2f0b;

$white: #ffffff;
$gray: #999;
$light-gray: #ccc;

$size-factor: 5px;

.hr {
  height: 2px;
  background-color: #333;
  margin: 30px 15px 0 15px;
}

.switch {
  thumb-color: $brand;
  track-color: $light-brand;
}

@mixin flex-box-mixins(
  $direction: row,
  $justify: center,
  $align-items: center
) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
}

@font-face {
  font-family: "iconfont";
  src: url('/assets/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont";
}
